* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #ddd;
    color: #222;
}

button {
    cursor: pointer;
}

header {
    background-color: #fff;
}

.header-inner {
    margin: 0 auto;
    padding: 0 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
}

h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

h1 span.a {
    color: #673cc2;
    font-weight: bolder;
}

h1 span.hub {
    color: #ff8c00;
    font-weight: bolder;
}

button.admin-login-btn {
    padding: 12px;
    color: #fff;
    background-color: #673cc2;
    border-radius: 8px;
    cursor: pointer;
}

button.admin-login-btn a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 20px auto;
    padding: 40px 20px;
    width: 100%;
    max-width: 1024px;
    background-color: #eee;
    border-radius: 6px;
}

section.nav {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .nav .month {
    font-weight: 600;
    letter-spacing: 4px;
}

main .nav select {
    width: 80px;
    padding: 8px 0;
}

main .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

main section .card {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.card.active {
    background-color: #673cc2 !important;
    color: #fff;
}

.card:hover {
    transform: scale(0.99);
}

section .card .day {
    font-weight: 600;
    margin-bottom: 6px;
}

section.attendance {
    visibility: hidden;
    transform: scale(0);
    position: fixed;
    inset: 0;
    background-color: #eee;
    padding: 20px;
    transition: visibility 0.4s ease, transform 0.2s ease;
}

section.attendance.visible {
    visibility: visible;
    transform: scale(1);
}

section.attendance .container {
    margin: 0 auto;
    max-width: 1024px;
}

section.attendance .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.attendance button {
    padding: 8px 12px;
    cursor: pointer;
}

section.attendance .close {
    border: 1px #222 solid;
    background: none;
    border-radius: 15px;
    color: inherit;
}

.top {
    margin: 0 0 40px;
}

table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

table thead {
    text-align: left;
    background-color: #673cc2;
    color: #fff;
}

table th, table td {
    padding: 15px;
}

.attendance .info {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .contact-btn button {
    padding: 14px;
    color: #fff;
    background-color: #222;
    border-radius: 3px;
    cursor: pointer;
}

.info .date-container {
    font-size: 0.85em;
    text-align: center;
}

.info h4 {
    font-size: 1.5em;
}

td.status-present {
    background-color: #21cd2f;
    color: #fff;
}

td.status-absent {
    background-color: #e92727;
    color: #fff;
}

td.status-not-marked {
    background-color: #ddd;
}

/* footer {
    background-color: #222;
}

footer .wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1024px;
    color: #fff;
} */